* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    max-height: 96vh;
}

body {
    font-family: serif;
}

.main {
    background: linear-gradient(to top, rgba(52, 54, 53) 50%, rgba(52, 54, 53) 50%);
    height: 45px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

label.logo {
    color: orangered;
    font-size: 35px;
    font-weight: bold;
}

ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

ul li a {
    color: white;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

ul li:hover a {
    color: rgb(255, 72, 0);
}

.search-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
}

.srch {
    font-family: "Times New Roman";
    width: 200px;
    height: 30px;
    background: transparent;
    border: 1px solid orangered;
    color: white;
    border-right: none;
    font-size: 16px;
    padding: 1px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    outline: none;
}

.btn {
    width: auto;
    height: auto;
    background: orangered;
    border: 3px solid orangered;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.back {
    background: url(mainimg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.head {
    display: inline-block;
    width: 700px;
    height: auto;
    margin: auto;
    color: orangered;
    position: relative;
    padding-left: 35px;
    padding-top: 200px;
    font-size: 150%;
}

h1 {
    margin-left: 150px;
}

.para {
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 30px;
    text-align: center;
}

.exp {
    width: 110px;
    height: 32px;
    margin: auto;
    background: orangered;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.7s;
    font-size: 15px;
    margin-left: 265px;
}

.exp a {
    color: black;
    font-weight: bold;
}

.exp:hover {
    display: flex;
    background: white;
}

.form {
    width: 350px;
    height: 400px;
    background: linear-gradient(to top, rgb(4, 6, 5) 50%, rgb(5, 6, 5) 50%);
    position: absolute;
    top: 150px;
    left: 875px;
    border-radius: 20px;
    padding: 25px;
    padding-left: 25px;
    margin-right: 1px;
}

.forget {
    font-size: 13px;
    margin-top: 15px;
    margin-left: 145px;
}

.forget a {
    color: white;
}

.forget a:hover {
    color: orangered;
}

.form h2 {
    width: auto;
    text-align: center;
    font-size: 25px;
    background-color: orangered;
    border-radius: 5px;
    margin: 10px;
    padding: 2px;
    color: white;
}

.form input {
    width: calc(100% - 50px);
    height: 30px;
    font-size: 15px;
    background: transparent;
    color: white;
    border-bottom: 1px solid orangered;
    margin-left: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    outline: none;
}

.form .btnn {
    width: calc(100% - 50px);
    height: 30px;
    color: white;
    background: orangered;
    text-align: center;
    margin-left: 25px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: white;
}

.btnn a {
    color: white;
}

.btnn a:hover {
    color: black;
}

.form .acc {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.acc a {
    font-size: 20px;
    color: orangered;
}

.acc a:hover {
    color: blue;
}

.lwu {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.icon {
    background: rgb(9, 255, 0);
    background: transparent;
    margin-top: 25px;
    text-align: center;
}

.fa-brands {
    margin-right: 20px;
}

/* Media Queries for Responsive Design */

@media (max-width: 1240px) {
    .para {
        width: 500px;
    }

    h1 {
        margin-left: 80px;
    }

    .exp {
        margin-left: 190px;
    }

    .form {
        width: 350px;
        height: 400px;
        position: absolute;
        top: 150px;
        left: 800px;
    }
}

@media (max-width: 1170px) {
    .form {
        left: 700px;
    }
}

@media (max-width: 1080px) {
    .form {
        left: 600px;
    }

    label.logo {
        font-size: 30px;
    }

    ul li a {
        font-size: 15px;
    }
}

@media (max-width: 975px) {
    .para {
        width: 450px;
    }

    .form {
        left: 540px;
    }

    label.logo {
        font-size: 25px;
    }

    ul li a {
        font-size: 14px;
        margin-left: 2px;
    }

    .srch {
        width: 130px;
    }

    ul {
        gap: 1rem;
    }
}

@media (max-width: 915px) {
    .para {
        width: 500px;
        margin-left: 130px;
        
    }
.head{
    padding-top: 40px;
}
    .form {
        left: 220px;
        margin-top: 220px;
        width: 50vw;
    }

    h1 {
        margin-left: 200px;
    }

    .exp {
        margin-left: 330px;
    }
}

@media (max-width: 775px) {
    .para {
        width: 500px;
        margin-left: 85px;
        
    }
.head{
    padding-top: 0px;
}
    .form {
        left: 180px;
        margin-top: 150px;
        width: 50vw;
    }

    h1 {
        margin-left: 170px;
    }

    .exp {
        margin-left: 280px;
    }
}


@media (max-width: 700px) {
    .para {
        width: 500px;
        margin-left: 40px;
        
    }
.head{
    padding-top: 0px;
}
    .form {
        left: 150px;
        margin-top: 150px;
        width: 50vw;
    }

    h1 {
        margin-left: 120px;
    }

    .exp {
        margin-left: 220px;
    }
}


@media (max-width: 700px) {
    .para {
        width: 500px;
        margin-left: 10px;
        
    }
.head{
    padding-top: 0px;
}
    .form {
        left: 130px;
        margin-top: 150px;
        width: 50vw;
    }

    h1 {
        margin-left: 90px;
    }

    .exp {
        margin-left: 200px;
    }
}


@media (max-width: 580px) {
    .form {
        left: 100px;
        margin-right: 0vh;

       width: 300px;
    }

    .para {
        width: 420px;
        margin-left: 8px;
        
    }

    h1 {
        margin-left: 35px;
    }

    .exp {
        margin-left: 160px;
    }

}


@media (max-width: 430px) {
    .form {
        left: 25px;
        margin-right: 0vh;
        margin-top: 130px;

       width: 300px;
    }

    .para {
        width: 300px;
        margin-left: 0px;
        font-size: 15px;
        
        
    }

    h1 {
        margin-left: 0px;
        font-size: 30px;
    }

    .exp {
        margin-left: 80px;
    }

}
